<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>강의 목록</h1>

    {% for lec in lectures %}
    [{{ lec.code }}] {{ lec.title }} - {{ lec.professor.name }}<br>
    
    수강생 목록:<br>
    {% for lecstu in lec.lecture_students.all %}   
    {{ lecstu.student.student_id }} - {{ lecstu.student.name }}<br>
    {% empty %} (수강생 없음)
    {% endfor %}
    
    {% empty %} 등록된 강의가 없습니다.
    {% endfor %}
    
</body>
</html>